@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -------------HEADER-------------*/
.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.header {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
}

.menu {
    width: 40%;
}

ul {
    list-style-type: none;
    font-weight: bold;
}

ul li {
    display: inline;
    padding: 10px;
}

ul>li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

ul>li a::marker {
    list-style-type: none;
}

ul>li a:hover {
    text-decoration: underline;
}

a {
    background-image: linear-gradient(to right,
            #ffffff,
            #ffffff 50%,
            #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* Animation */
ul>li a:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s ease-in-out;
}

ul>li a:hover {
    background-position: 0;
}

ul>li a:hover::before {
    width: 100%;
}

/* Ending of Animation */

/* -------------END HEADER-------------*/
/* -------------MAIN-------------*/

.left-side {
    width: 35%;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.description {
    padding-top: 50px;
    font-weight: 500;
}

.more-info {
    padding-top: 25px;
    padding-bottom: 150px;
}

.more-info-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    font-weight: 700;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
}

/* -------------ENDING MAIN-------------*/
/* -------------DOWNLOAD LINKS-------------*/
.download {
    background-color: #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    height: 200px;
    justify-items: center;
}

.app-links img {
    width: 200px;
}

.how-it {
    padding-top: 50px;
}

.how-it-works {
    font-family: 'Montserrat', sans-serif;
}

.c-stepper__item {
    display: flex;
    gap: 1rem;
}

.c-stepper__item:before {
    --size: 3rem;
    content: "";
    position: relative;
    z-index: 1;
    flex: 0 0 var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #000000;
}

.c-stepper__item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding-bottom: 4rem;
}

.c-stepper__item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(1.5rem);
    width: 2px;
    background-color: #000000;
}

.c-stepper {
    padding-top: 50px;
    --size: 3rem;
    --spacing: 0.5rem;
}

.c-stepper__item:not(:last-child):after {
    top: calc(var(--size) + var(--spacing));
    transform: translateX(calc(var(--size) / 2));
    bottom: var(--spacing);
}

/* -------------ENDING DOWNLOAD LINKS-------------*/
/* -------------SLIDESHOW-------------*/
.feedback {
    background-color: #000000;
    color: #ffffff;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 300px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.main-slide {
    font-family: 'Montserrat', sans-serif;

}

.thoughts,
.name,
.comment {
    display: flex;
    justify-content: center;
}

.thoughts {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 25px;
}

.name {
    padding-bottom: 60px;
}

.comment {
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
}

.dots {
    text-align: center;
    padding-bottom: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* -------------ENDING SLIDESHOW-------------*/
/* -------------Passage to Bussines-------------*/

.passage-to-bussines {
    font-family: 'Montserrat', sans-serif;
    background-image: url("assets/johannes-hurtig-z-fpG7D7buk-unsplash.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bussines-section {
    padding-top: 5%;
}

/* -------------ENDING Passage to Bussines-------------*/
/* -------------FAQ-------------*/

/* # The Rotating Marker # */
details summary::-webkit-details-marker {
    display: none;
}

.accordion {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: left;
}

.faq-header {
    text-align: center;
}

.faq {
    background-color: white;
    color: #000000;
    margin: 0 auto;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

summary::before {
    position: absolute;
    top: 1rem;
    left: 0.8rem;
    transform: rotate(0);
    transform-origin: center;
    transition: 0.2s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
    transition: 0.45s transform ease;
}

/* # The Sliding Summary # */
details {
    overflow: hidden;
}

details summary {
    position: relative;
    z-index: 10;
}

@keyframes details-show {
    from {
        margin-bottom: -80%;
        opacity: 0;
        transform: translateY(-100%);
    }
}

details>*:not(summary) {
    animation: details-show 500ms ease-in-out;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    color: transparent;
    overflow: hidden;
}

details[open]>*:not(summary) {
    color: inherit;
}

/* # Style 4 # */
details.style4 summary {
    padding-right: 2.2rem;
    padding-left: 1rem;
}

details.style4 summary::before {
    content: "×";
    color: #000000;
    font-size: 2rem;
    line-height: 1rem;
    transform: rotate(-45deg);
    top: 1.2rem;
    left: unset;
    right: 0.6rem;
}

details[open].style4>summary:before {
    transform: rotate(90deg);
    color: #000000;
    transition: color ease 2s, transform ease 1s;
}



/* # Just Some Pretty Styles # */
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

p:last-child {
    padding: 0;
}

details {
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 5px;
    background: white;
    border-bottom: 1px solid #000000;
}

summary {
    border: 4px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
    color: black;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

details[open] summary,
summary:hover {
    color: black;
    font-weight: 600;
}

.content {
    padding: 10px;
    border: 2px solid white;
    border-top: none;
}

/* -------------ENDING FAQ-------------*/
/* -------------FOOTER-------------*/
.footer {
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;
}

.footer-flex {
    width: 100%;
}

.f-left-side {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer i {
    padding-right: 10px;
}

.lisance {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.phone-and-social {
    justify-content: space-between;
}

.phone {
    display: flex;

}

.rules-and-privacy {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.phone-and-social,
.e-mail,
.location {
    display: flex;
    padding-top: 10px;
}

/* -------------ENDING FOOTER-------------*/
/* -------------ENDING DOWNLOAD LINKS-------------*/

@media (min-width:992px) and (max-width:1330px) {
    .container {
        max-width: 990px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 760px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 560px;
    }
    /* HAMBURGER MENU */
    body>.header a[href^="#"] {
        display: block;
        /* undo hidden states */
    }

    .logo+.a-logo {
        display: block;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        width: 1.75rem;
        height: 1.5rem;
        --gradColor: #FFF;
        background: linear-gradient(0deg,
                var(--gradColor) 0% 20%,
                transparent 20% 40%,
                var(--gradColor) 40% 60%,
                transparent 60% 80%,
                var(--gradColor) 80% 100%);
    }

    .logo+.a-logo:focus,
    .logo+.a-logo:hover {
        --gradColor: #fff;
    }

    #menu,
    #menu>a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #menu {
        left: -100%;
        height: 100%;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s, left 0s 0.3s;
    }

    #menu:target {
        left: 0;
        opacity: 1;
        transition: opacity 0.3s;
    }

    #menu ul {
        position: relative;
        top: 4em;
        left: -50%;
        background: #222;
        transition: left 0.3s;
    }

    #menu:target ul {
        left: 0;
    }

    #menu li a {
        display: block;
        text-align: center;
    }
    /* ENDING HAMBURGER MENU */
}